---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.footer-linkedin .fa-linkedin {
  color: #000 !important;
}

.footer-linkedin .fa-linkedin:hover {
  color: #555 !important;
}

.site-footer a .fa-linkedin {
  color: #000 !important;       /* Black color */
}

.site-footer a .fa-linkedin:hover {
  color: #555 !important;       /* Slightly lighter on hover */
}